.container{
    width :60%;
    border :3px solid gray; 
    background-color:pink;
    padding:10px;
    margin:0px auto;
    text-align: center;
}

body {
  background-image: url("https://i.pinimg.com/736x/3b/23/7a/3b237ac1d536a97f91a7c77365f70f52.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}


